@charset "UTF-8";
@font-face{font-family:"yekan";font-style:normal;font-weight:normal;src:url('../fonts/regular.eot') format("embedded-opentype"), url('../fonts/regular.woff') format("woff"), url('../fonts/regular.ttf') format("truetype");}
@font-face{font-family:"yekannum";font-style:normal;font-weight:normal;src:url('../fonts/num-regular.eot') format("embedded-opentype"), url('../fonts/num-regular.woff') format("woff"), url('../fonts/num-regular.ttf') format("truetype");}
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block}
audio,canvas,video{display:inline-block;*display:inline;*zoom:1}
audio:not([controls]){display:none;height:0}
[hidden]{display:none}
html{font-size:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}
html,button,input,select,textarea{font-family:sans-serif}
body{margin:0}
a{color:#0072C6;}
a,a:hover{text-decoration:none;}
a:focus,a:active,a:hover{outline:0}
h1{font-size:2em;margin:.67em 0}
h2{font-size:1.5em;margin:.83em 0}
h3{font-size:1.17em;margin:1em 0}
h4{font-size:1em;margin:1.33em 0}
h5{font-size:.83em;margin:1.67em 0}
h6{font-size:.75em;margin:2.33em 0}
abbr[title]{border-bottom:1px dotted}
b,strong{font-weight:bold}
blockquote{margin:1em 40px}
dfn{font-style:italic}
mark{background:#ff0;color:#000}
p,pre{margin:1em 0}
code,kbd,pre,samp{font-family:monospace,serif;_font-family:'courier new',monospace;font-size:1em}
pre{white-space:pre;white-space:pre-wrap;word-wrap:break-word}
q{quotes:none}
q:before,q:after{content:'';content:none}
small{font-size:75%}
sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
sup{top:-0.5em}
sub{bottom:-0.25em}
dl,menu,ol,ul{margin:1em 0}
dd{margin:0 0 0 40px}
menu,ol,ul{padding:0 0 0 18px}
nav ul,nav ol,ul,ol{list-style:none;list-style-image:none}
ol{list-style-type:decimal;}
img{border:0;-ms-interpolation-mode:bicubic}
svg:not(:root){overflow:hidden}
figure{margin:0}
form{margin:0}
fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:.35em .625em .75em}
legend{border:0;padding:0;white-space:normal;*margin-left:-7px}
button,input,select,textarea{font-size:100%;margin:0;vertical-align:baseline;*vertical-align:middle}
button,input{line-height:normal}
button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer;*overflow:visible}
button[disabled],input[disabled]{cursor:default}
input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0;*height:13px;*width:13px}
input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}
input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none}
button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}
textarea{overflow:auto;vertical-align:top}
table{border-collapse:collapse;border-spacing:0}
body{direction:ltr;background:#fff;}
.theme{max-width:1000px;margin:0 auto;}
.hmenu{position:fixed;height:70px;width:100%;background:#0078d7;border-bottom:1px solid #006cc1;z-index:100001;}
.logo{float:left;height:70px;margin:0 10px 0 0;color:#fff;font:normal 22px/66px "Segoe UI",arial;}
ul.menu{margin:0;padding:0;float:left;}
ul.menu li{float:left;margin:0 0 0 1px;padding:0;}
ul.menu li a{float:left;padding:0 22px;height:70px;color:#fff;font:normal 16px/66px "Segoe UI",arial;transition:background-color 0.3s ease-out}
ul.menu li a span{font-size:8px;margin-left:2px;}
ul.menu li a:hover{background:#006cc1;}
ul.menu li.selected a,ul.menu li a:focus{background:#0060ac;}
ul.menu li ul{margin:0;background:#006cc1;width:288px;position:absolute;padding:10px 0px;display:none;float:none;top:71px;}
ul.menu li ul li{margin:0;}
ul.menu li ul li a{width:288px;padding:0;text-indent:22px;height:40px;line-height:36px;}
ul.menu li ul li a:hover{background:#0060ac;}
.homep{background:#0078d7;float:right;height:460px;width:100%;margin-top:70px;}
.homep .left{float:left;height:460px;width:49%;}
.homep .hltext{float:left;width:100%;font:400 34px "Segoe UI",arial;color:#fff;margin-top:148px;}
.homep .hltext a{padding:12px 20px;font:400 18px "Segoe UI",arial;color:#0078d7;background:#fff;}
.homep .hltext a:hover{border:2px solid #BFBFBF;padding:10px 18px;}
.homep .right{float:right;height:460px;width:49%;}
ul.bjqs{position:relative;list-style:none;padding:0;margin:0;overflow:hidden;display:none;}
ul.bjqs li.bjqs-slide{position:absolute;display:none;text-align:center;color:#fff;display:none;font-size:200px;line-height:400px;}
ul.bjqs-controls{float:right;width:100%;height:60px;margin:0;padding:0;font-size:40px;line-height:30px;}
ul.bjqs-controls.v-centered li{margin:0;padding:0;}
ul.bjqs-controls.v-centered li a{color:#fff;}
ul.bjqs-controls.v-centered li.bjqs-next{float:right;height:60px;width:49%;text-align:left;}
ul.bjqs-controls.v-centered li.bjqs-prev{float:left;height:60px;width:49%;text-align:right;}
.homehp{background:#d2d2d2;float:right;height:70px;width:100%;line-height:66px;}
ul.hxmenu{margin:0;padding:0;float:left;}
ul.hxmenu li{float:left;margin:0 0 0 1px;padding:0 10px;height:70px;font:normal 14px/66px "Segoe UI",arial;color:#505050;transition:color 0.3s ease-out;}
ul.hxmenu li a{color:#0078d7;}
ul.hxmenu li a:hover{color:#0060ac;}
.iconsp{background:#d2d2d2;float:right;height:236px;width:100%;margin-top:71px;}
.iconsp .hmtop{float:right;height:166px;width:100%;font:normal 44px/210px "Segoe UI",arial;color:#505050;}
.iconsp .hmtopicon{float:right;height:166px;width:100%;font:normal 100px/300px "Segoe UI",arial;color:#505050;}
.iconsp .hmbot{float:right;height:70px;width:100%;font:normal 24px/66px "Segoe UI",arial;color:#606060;}
.main{float:right;width:100%;}
.quitset{height:282px;width:100%;color:#505050;float:left;background:url(../image/1.png) right no-repeat;font:normal 13px "Segoe UI",arial;margin:50px 0 26px 0;}
.quitset div{float:left;width:50%;}
.quitset span,.quitset a{font-weight:bold;}
.importi{float:right;width:100%;background:#ededf0;}
.importi .contact{color:#505050;padding:15px 25px;font:normal 13px "Segoe UI",arial;}
.importi .contact h3{font-weight:bold;}
.importi .contact ul{margin:0 0 0 28px;padding:0;}
.importi .contact ul li{padding:0;margin:0;list-style-type:disc;}
.importi .contact ul li span,.importi .contact ul li a{font-weight:bold;}
.nbox{float:right;width:100%;margin:50px 0;}
.nbox .row1{float:right;width:100%;text-align:center;color:#0078d7;font:normal 26px "Segoe UI",arial;margin:5px;}
.nbox .row2{float:right;width:100%;text-align:center;color:#000;font:normal 20px "Segoe UI",arial;margin:5px;}
ul.xrow{float:right;margin:60px 0 0 0;padding:0;}
ul.xrow li{float:left;height:260px;padding:0;width:24.9%}
ul.xrow li .icon{float:right;margin:0 0 20px 0;padding:0;width:100%;text-align:center;color:#0078d7;font-size:50px;}
ul.xrow li h4{float:right;margin:0 0 10px 0;padding:0;width:100%;text-align:center;color:#0078d7;font-size:22px;}
ul.xrow li .contactx{float:right;padding:0;margin:0;width:100%;text-align:center;color:#000;font:normal 18px "Segoe UI",arial;}
.footer{float:right;width:100%;padding:10px 0;background:#2F2F2F;}
.footer ul.hxmenu li,.footer ul.hxmenu a{color:#fff}
.footer .crighty{float:right;margin:14px 0 0 1px;padding:0 10px;height:56px;font:normal 14px/16px "Segoe UI",arial;color:#fff;text-align:center;}
.footer .crighty span{font-size:24px;}
.iconst{float:right;width:100%;margin:10px 0;}
.iconst h3{float:right;width:100%;margin:10px 0;font:normal 16px/66px "Segoe UI",arial;color:#0078d7;}
.iconst ul{float:right;width:100%;margin:10px 0;padding:0;}
.iconst ul li{float:left;width:24.9%;margin:4px 0;padding:0;}
.iconst ul li a{float:right;width:100%;padding:10px 0;text-indent:10px;margin:0;font:normal 14px "Segoe UI",arial;color:#000;transition:all 0.3s ease-out;}
.iconst ul li:hover a{background:#0078d7;color:#fff}
.iconst ul li span{font-size:20px;margin-right:10px;}
.livefilter{border:0;background:#D2D2D2;float:right;width:100%;margin:0;padding:10px 0;text-indent:10px;font:normal 14px "Segoe UI",arial;color:#2F2F2F;}
.cheatsheet ul li a{font-size:10px;}