.highlight {
  background: #282c34;
  color: #abb2bf;
  margin-bottom: 40px;
}

.highlight {
  border-radius: 10px;
  overflow: hidden;
  padding: 16px;

  pre {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0
  }

  .hll {
    background: #282c34;
  }

  .c {
    color: #5c6370;
    font-style: italic;
  }

  .err {
    color: #960050;
    background-color: #1e0010;
  }

  .k {
    color: #c678dd;
  }

  .l {
    color: #98c379;
  }

  .n {
    color: #abb2bf;
  }

  .o {
    color: #abb2bf;
  }

  .p {
    color: #abb2bf;
  }

  .cm {
    color: #5c6370;
    font-style: italic;
  }

  .cp {
    color: #5c6370;
    font-style: italic;
  }

  .c1 {
    color: #5c6370;
    font-style: italic;
  }

  .cs {
    color: #5c6370;
    font-style: italic;
  }

  .ge {
    font-style: italic;
  }

  .gs {
    font-weight: 700;
  }

  .kc {
    color: #c678dd;
  }

  .kd {
    color: #c678dd;
  }

  .kn {
    color: #c678dd;
  }

  .kp {
    color: #c678dd;
  }

  .kr {
    color: #c678dd;
  }

  .kt {
    color: #c678dd;
  }

  .ld {
    color: #98c379;
  }

  .m {
    color: #d19a66;
  }

  .s {
    color: #98c379;
  }

  .na {
    color: #d19a66;
  }

  .nb {
    color: #e5c07b;
  }

  .nc {
    color: #e5c07b;
  }

  .no {
    color: #e5c07b;
  }

  .nd {
    color: #e5c07b;
  }

  .ni {
    color: #e5c07b;
  }

  .ne {
    color: #e5c07b;
  }

  .nf {
    color: #abb2bf;
  }

  .nl {
    color: #e5c07b;
  }

  .nn {
    color: #abb2bf;
  }

  .nx {
    color: #abb2bf;
  }

  .py {
    color: #e5c07b;
  }

  .nt {
    color: #e06c75;
  }

  .nv {
    color: #e5c07b;
  }

  .ow {
    font-weight: 700;
  }

  .w {
    color: #f8f8f2;
  }

  .mf {
    color: #d19a66;
  }

  .mh {
    color: #d19a66;
  }

  .mi {
    color: #d19a66;
  }

  .mo {
    color: #d19a66;
  }

  .sb {
    color: #98c379;
  }

  .sc {
    color: #98c379;
  }

  .sd {
    color: #98c379;
  }

  .s2 {
    color: #98c379;
  }

  .se {
    color: #98c379;
  }

  .sh {
    color: #98c379;
  }

  .si {
    color: #98c379;
  }

  .sx {
    color: #98c379;
  }

  .sr {
    color: #56b6c2;
  }

  .s1 {
    color: #98c379;
  }

  .ss {
    color: #56b6c2;
  }

  .bp {
    color: #e5c07b;
  }

  .vc {
    color: #e5c07b;
  }

  .vg {
    color: #e5c07b;
  }

  .vi {
    color: #e06c75;
  }

  .il {
    color: #d19a66;
  }

  .gu {
    color: #75715e;
  }

  .gd {
    color: #f92672;
  }

  .gi {
    color: #a6e22e;
  }
}
