.nbox {
  float: right;
  width: 100%;
  margin: 50px 0;

  .row1 {
    float: right;
    width: 100%;
    text-align: center;
    color: #0078d7;
    font: normal 26px "Segoe UI", arial;
    margin: 5px;
  }

  .row2 {
    float: right;
    width: 100%;
    text-align: center;
    color: #000;
    font: normal 20px "Segoe UI", arial;
    margin: 5px;
  }
}

ul.xrow {
  float: right;
  margin: 60px 0 0;
  padding: 0;

  li {
    float: left;
    height: 260px;
    padding: 0;
    width: 24.9%;

    .icon {
      float: right;
      margin: 0 0 20px;
      padding: 0;
      width: 100%;
      text-align: center;
      color: #0078d7;
      font-size: 50px;
    }

    h4 {
      float: right;
      margin: 0 0 10px;
      padding: 0;
      width: 100%;
      text-align: center;
      color: #0078d7;
      font-size: 22px;
      font-family: sans-serif;
    }

    .contactx {
      float: right;
      padding: 0;
      margin: 0;
      width: 100%;
      text-align: center;
      color: #000;
      font: normal 18px "Segoe UI", arial;
    }
  }
}
