// Animated Icons
// --------------------------

{{=[[ ]]=}}
.#{$[[config.fontPrefix]]-css-prefix}-spin {
  animation: [[config.fontPrefix]]-spin 2s infinite linear;
}

.#{$[[config.fontPrefix]]-css-prefix}-pulse {
  animation: [[config.fontPrefix]]-spin 1s infinite steps(8);
}

@keyframes [[config.fontPrefix]]-spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
