// Base Class Definition
// -------------------------

{{=[[ ]]=}}
.#{$[[config.fontPrefix]]-css-prefix} {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
}

%[[config.fontPrefix]]-icon {
  @include [[config.fontPrefix]]-icon;
}
