/* Micon uses the Unicode Private Use Area (PUA) to ensure screen
   readers do not read off random characters that represent icons */
<% _.each(glyphs, function(glyph) {
var xname=glyph.name;
var temp=namedb[xname];
%>.#{$<%= className %>-css-prefix}-<%= temp.join(":before,\n.#{$" + className + '-css-prefix}-') %>:before {
     content: $<%= className %>-var-<%= glyph.name %>;
}

<% }); %>
