// Stacked Icons
// -------------------------

{{=[[ ]]=}}
.#{$[[config.fontPrefix]]-css-prefix}-stack {
  display: inline-block;
  height: 2em;
  line-height: 2em;
  position: relative;
  vertical-align: middle;
  width: ($[[config.fontPrefix]]-fw-width*2);
}

.#{$[[config.fontPrefix]]-css-prefix}-stack-1x,
.#{$[[config.fontPrefix]]-css-prefix}-stack-2x {
  left: 0;
  position: absolute;
  text-align: center;
  width: 100%;
}

.#{$[[config.fontPrefix]]-css-prefix}-stack-1x {
  line-height: inherit;
}

.#{$[[config.fontPrefix]]-css-prefix}-stack-2x {
  font-size: 2em;
}

.#{$[[config.fontPrefix]]-css-prefix}-inverse {
  color: $[[config.fontPrefix]]-inverse;
}
