// Variables
// --------------------------

$<%= className %>-font-path:        "<%= fontPath %>" !default;
$<%= className %>-font-size-base:   14px !default;
$<%= className %>-line-height-base: 1 !default;
$<%= className %>-css-prefix:       <%= className %> !default;
$<%= className %>-version:          "<%= fontVer %>" !default;
$<%= className %>-border-color:     #eee !default;
$<%= className %>-inverse:          #fff !default;
$<%= className %>-li-width:         (30em / 14) !default;

<% _.each(glyphs, function(glyph) { %>$<%= className %>-var-<%= glyph.name %>: "\<%= glyph.codepoint.toString(16).toUpperCase() %>";
<% }); %>
