<!DOCTYPE html>
<html>

<head>
	<base href="<%= config.home %>"/>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="midth=device-width, initial-scale=1.0" />
	<title>Micon - Get Started</title>
<%
const styles=config.styles;
for (i in styles){
%>	<link rel="stylesheet" href="<%= styles[i] %>" type="text/css"/>
<% }
const scripts=config.scripts;
for (i in scripts){
%>	<script src="<%= scripts[i] %>" type="text/javascript"></script>
<% } %></head>

<body>
	<div class="hmenu">
		<div class="theme">
			<a href="" class="logo"><span class="mi mi-ResolutionLegacy"></span><span class="logoinfo">Micon</span></a>
			<a href="#" class="xmenu"><i class="mi mi-GlobalNavButton"></i></a>
			<ul class="menu">
<%
const mnow="Get Started";
const menus=config.menu;
for (i in menus){
	var mdb=menus[i];
%>				<li<% if(mnow==mdb.name){ %> class="selected"<% } %>><a href="<%= mdb.href %>/"><%= mdb.name %></a></li>
<% } %>			</ul>
		</div>
	</div>
	<div class="iconsp">
		<div class="theme">
			<div class="hmtop">Micon</div>
			<div class="hmbot">Easy ways to get Micon onto your website</div>
		</div>
	</div>
	<div class="main">
		<div class="theme">
			<div class="quitset">
				<div>
					<p>Follow these steps to use Micon:</p>
					<ol>
						<li>
							<p>Download last Micon version release from <a href="https://github.com/xtoolkit/Micon/releases">Github</a>.</p>
						</li>
						<li>
							<p>Copy the entire <span>micon-repo/dist/micon/</span> directory into your project.</p>
						</li>
						<li>
							<p>In the <span>&lt;head&gt;</span> of your html, reference the location to your micon.min.css.—example:<pre>&lt;link rel=&quot;stylesheet&quot; href=&quot;micon-repo/dist/micon/css/micon.min.css&quot;&gt;—</pre></p>
						</li>
						<li>
							<p>Check out the <a href="examples/">example</a> to start using Micon!. Or you can custom Micon font icon with <a href="https://github.com/xtoolkit/Micon#build-instructions-for-make-custom-font">github readme</a> Documents.</p>
						</li>
					</ol>
				</div>
			</div>
			<div class="importi">
				<div class="contact">
					<h3>Important</h3>
					<ul>
						<li>
							<p>if you do not use webbrand icon in font use <span>micon-repo/dist/micon_nb/</span></p>
						</li>
						<li>
							<p>If you need <span>IE7</span> support, you have my condolences. Really. <span>Micon</span> doesn't support IE7!</p>
						</li>
						<li>
							<p><span>IE8</span> has some issues with <span>@font-face</span> when combined with <span>:before</span>. Micon uses that combination. If a page is cached, and loaded without the mouse over the window (i.e. hit the refresh button or load something
								in an iframe) then the page gets rendered before the font loads.</p>
						</li>
						<li>
							<p>In order to provide the best possible experience to old and buggy browsers, Micon uses <a href="http://browserhacks.com/">CSS browser hacks</a> in several places to target special CSS to certain browser versions in order to work around bugs in
								the browsers themselves. These hacks understandably cause CSS validators to complain that they are invalid. In a couple places, we also use bleeding-edge CSS features that aren't yet fully standardized, but these are used purely for progressive
								enhancement.</p>
						</li>
						<li>
							<p>These validation warnings don't matter in practice since the non-hacky portion of our CSS does fully validate and the hacky portions don't interfere with the proper functioning of the non-hacky portion, hence why we deliberately ignore these particular
								warnings.</p>
						</li>
					</ul>
				</div>
			</div>
			<div class="iconst"><br><br><br></div>
		</div>
	</div>
	<div class="footer">
		<div class="theme">
			<ul class="hxmenu">
				<li><a href="https://github.com/xtoolkit/Micon/">GitHub Project</a></li>
				<li><a href="mailto:arshen@outlook.com">Feedback</a></li>
				<li><a href="<%= config.author.home %>"><%= config.author.nhome %></a></li>
			</ul>
			<div class="crighty"><span>Micon</span><br>© <%= config.copyyear %> <%= config.author.nhome %></div>
		</div>
	</div>
</body>

</html>
