---
layout: default
---
<div class="iconsp">
  <div class="theme">
    <div class="hmtopicon sifixa">
      <i class="iconxorg {{site.font.prefix}} {{site.font.prefix}}-{{page.iconname}}" style="font-size:175px;"></i>
      <i class="{{site.font.prefix}} {{site.font.prefix}}-{{page.iconname}}" style="font-size:125px;"></i>
      <i class="{{site.font.prefix}} {{site.font.prefix}}-{{page.iconname}}" style="font-size:75px;"></i>
      <i class="{{site.font.prefix}} {{site.font.prefix}}-{{page.iconname}}" style="font-size:50px;"></i>
      <i class="{{site.font.prefix}} {{site.font.prefix}}-{{page.iconname}}" style="font-size:25px;"></i>
    </div>
  </div>
</div>
<div class="homehp">
	<div class="theme">
		<ul class="hxmenu">
			<li>{{site.font.prefix}}-{{page.iconname}}</li>
			<li class="spash">-</li>
			<li>Unicode: {{page.unicode}}</li>
			<li class="spash">-</li>
			<li>Created: {{site.font.version}}</li>
			<li class="spash">-</li>
			<li>Categories: <a href="{{ '/icons/' | prepend: site.baseurl }}">Global</a></li>
		</ul>
	</div>
</div>
<div class="main">
  <div class="theme">
    <div class="nbox">
				<div class="iconst">
					{{content}}
				</div>
				<div class="importi">
					<div class="contact">
						<h3>note</h3>
						<ul>
							<li>
								<p>After you get up and running, you can place Micon icons just about anywhere with the &lt;i&gt; tag.</p>
							</li>
							<li>
								<p>Looking for more? Check out the <a href="{{ '/examples/' | prepend: site.baseurl }}">Examples</a>..</p>
							</li>
						</ul>
					</div>
				</div>
			</div>
  </div>
</div>
